

/* ***********< services >*********** */
.services_content, .employees_content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
}

.services_box, .employees_content_box {
    background-color: var(--Surface);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease-in 0.3s;
}

.services_box>img {
    width: 90px;
    margin-bottom: 20px;
}

.services_box_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.btn_boy {
    height: 38px;
    width: 90%;
    border-radius: 100px;
    background-color: var(--primitive);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    opacity: 0.8;
    transition: all ease-in 0.3s;
}

.btn_boy:hover {
    opacity: 1;
}

.description_index_text {
    margin-top: 25px;
}

.services_box:hover {
    box-shadow: 0px 0px 10px var(--primitive);
}

/* ***********< services >*********** */
